@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0');

@import "bulma/bulma";

:root {
    font-family: -apple-system, 'Lato', 'Noto Sans TC', sans-serif;
    --brand-color-blue: #294454;
    --brand-color-yellow: #f3cb02;
}

body {
    margin: 0;
    --bulma-body-family: -apple-system, 'Lato', 'Noto Sans TC', sans-serif;
    --bulma-weight-bold: 700;
    --bulma-weight-extrabold: 900;
}

.has-text-brand-color-blue {
    color: var(--brand-color-blue);
}

.has-text-brand-color-yellow {
    color: var(--brand-color-yellow);
}

.has-background-brand-color-blue {
    background-color: var(--brand-color-blue);
}

.has-background-brand-color-yellow {
    background-color: var(--brand-color-yellow);
}
